*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://data.whicdn.com/images/340545342/original.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: black;
    font-family:'Open Sans', sans-serif;
}

nav{
    background-color: rgba(119, 136, 153, 0.2);
    width: 100%;
}

#menu{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.lista a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px 50px;
}

#menu .lista{
    display: inline-block;
}

main{
    text-align: center;
}

img{
    margin-top: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

